{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<section id="login_section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="fw-bold text-center">Sign Up
					</h2>
				</div>
			</div>
			<div class="row">
				{{ form_start(registrationForm, {'attr': {'class': 'row'}}) }}
				<h3 class="col-12">Information principale</h3>
				<div class="col-12 col-md-6">
					{{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'col-form-label'}}) }}
					{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control rounded-pill'}}) }}
				</div>
				<div class="col-12 col-md-6">
					{{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'col-form-label'}}) }}
					{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control rounded-pill'}}) }}
				</div>
				<div class="col-8 form-check ms-3">
					{{ form_label(registrationForm.agreeTerms, 'Accepter les termes ', {'label_attr': {'class': 'form-check-label'}}) }}
					{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input rounded-1'}}) }}
				</div>
				<div class="border border-bottom my-3 border-success"></div>
				<h3 class="col-12">Coordonnées</h3>
				<div class="col-12 col-md-6 col-lg-4">
					{{ form_label(registrationForm.surname, 'Nom', {'label_attr': {'class': 'col-form-label'}}) }}
					{{ form_widget(registrationForm.surname, {'attr': {'class': 'form-control rounded-pill'}}) }}
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					{{ form_label(registrationForm.name, 'Prenom', {'label_attr': {'class': 'col-form-label'}}) }}
					{{ form_widget(registrationForm.name, {'attr': {'class': 'form-control rounded-pill'}}) }}
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					{{ form_label(registrationForm.mobTel, 'Téléphone portable', {'label_attr': {'class': 'col-form-label'}}) }}
					{{ form_widget(registrationForm.mobTel, {'attr': {'class': 'form-control rounded-pill'}}) }}
				</div>
				<div class="col-12 col-md-6 col-lg-2">
					{{ form_label(registrationForm.codeZIP, 'Code postale', {'label_attr': {'class': 'col-form-label'}}) }}
					{{ form_widget(registrationForm.codeZIP, {'attr': {'class': 'form-control rounded-pill'}}) }}
				</div>
				<div class="col-12 col-md-4 col-lg-4">
					{{ form_label(registrationForm.city, 'Ville', {'label_attr': {'class': 'col-form-label'}}) }}
					{{ form_widget(registrationForm.city, {'attr': {'class': 'form-control rounded-pill'}}) }}
				</div>
				<div class="col-12 col-md-4 col-lg-4">
					{{ form_label(registrationForm.street, 'Rue', {'label_attr': {'class': 'col-form-label'}}) }}
					{{ form_widget(registrationForm.street, {'attr': {'class': 'form-control rounded-pill'}}) }}
				</div>
				<div class="col-12 col-md-4 col-lg-2">
					{{ form_label(registrationForm.buildNum, 'Bat. №', {'label_attr': {'class': 'col-form-label'}}) }}
					{{ form_widget(registrationForm.buildNum, {'attr': {'class': 'form-control rounded-pill'}}) }}
				</div>
				<div class="border border-bottom my-3 border-success"></div>
				<div class="col-12">
					{{ form_label(registrationForm.additionalInfo, 'Informations complémentaires (facultatif, si vous souhaitez préciser l\'interphone, les heures de livraison, etc.)', {'label_attr': {'class': 'col-form-label'}}) }}
					{{ form_widget(registrationForm.additionalInfo, {'attr': {'class': 'form-control rounded-pill'}}) }}
				</div>
				<button type="submit" class="btn btn-body fw-bold text-shadow rounded-pill w-100 mt-3 bodybtn_text_shadow">Sign up!</button>
				{{ form_end(registrationForm) }}
				<div>Vous avez déjà un compte?
					<a href="{{ path('app_login') }}" class="btn btn-link ps-0">Sign in!</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
