{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<section id="login_section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="fw-bold text-center">Réinitialiser mot de passe
					</h2>
				</div>
			</div>
			{{ form_start(requestPassForm, {'attr': {'class': 'row'}}) }}
			<h3 class="col-12">Saisissez votre email</h3>
			<div class="col-12">
				{{ form_label(requestPassForm.email, 'Email', {'label_attr': {'class': 'col-form-label'}}) }}
				{{ form_widget(requestPassForm.email, {'attr': {'class': 'form-control rounded-pill'}}) }}
			</div>
			<button type="submit" class="btn btn-body fw-bold rounded-pill w-100 mt-3 bodybtn_text_shadow">Envoyer un email</button>
			<div>Vous vous souvenez de votre mot de passe?
				<a href="{{ path('app_login') }}" class="btn btn-link ps-0">Sign in!</a>
			</div>
			{{ form_end(requestPassForm) }}
		</div>
	</section>
{% endblock %}
